<div class="container-fluid">
  <h1 align="center">Thêm sách mới</h1>
  <div class="col-md-6 offset-md-3">

    <form [formGroup]="createForm" (ngSubmit)="createBook()" >
      <div class="form-group">
        <label for="exampleInputTitle">Tên</label>
        <input type="text" formControlName="title" class="form-control" id="exampleInputTitle">
      </div>
      <div class="form-group">
        <label for="exampleInputAuthor">Tác giả</label>
        <input type="text" formControlName="author" class="form-control" id="exampleInputAuthor" >
      </div>
      <div class="form-group">
        <label for="exampleInputDescription">Mô tả</label>
        <textarea type="text"  formControlName="description" class="form-control" id="exampleInputDescription"></textarea>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary" style="margin-right: 10px">Thêm sách</button>
        <button class="btn btn-success" routerLink='/listBook'>Thoát</button>
      </div>

    </form>
  </div>
</div>
